<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Basic Header</title>

	<link rel="stylesheet" href="assets/header-basic.css">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>


</head>

	<body>

		<header class="header-basic">

			<div class="header-limiter">

	<h1><a href="http://backroadmapbooks.com"><span><img src="http://www.backroadmapbooks.com/skin/frontend/ultimo/default/images/logo_sticky.png"style="margin-top: 30px;"></span></a></h1>

<div class="headerright">
	<div class="headerimages">
<img src="http://www.backroadmapbooks.com/media/wysiwyg/header_top/register.png"></div>
	<div class="headerimages"><img src="http://www.backroadmapbooks.com/media/wysiwyg/header_top/myaccount.png"></div><div class="headerimages"><img src="http://www.backroadmapbooks.com/media/wysiwyg/header_top/storelocations.png"></div><div class="headerimages"><img src="http://www.backroadmapbooks.com/media/wysiwyg/header_top/help.png"></div></em><div class="headerimages"><img src="http://www.backroadmapbooks.com/media/wysiwyg/header_top/mycart.png"></div><div class="headerimages"><img src="http://www.backroadmapbooks.com/media/wysiwyg/header_top/mobilemenu.png"></div>

    		<div class="h1text">SIGN IN</div>
    		<div class="h1text"> ACCOUNT</div>
	  <div class="h1text">STORES</div>
	  <div class="h1text">HELP</div>
	  <div class="h1text">CART</div>
    		<div class="h1text2"><a href="javascript:" title="Menu"><span> Menu</span><span style="display:none"><img src="http://www.backroadmapbooks.com/media/wysiwyg/header_top/menu-close.png" alt=""></span></a></div>
</div>
			</div>

		</header>

		<!-- The content of your page would go here. -->

</html>
